*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}
img{
    width: 100%;
  
}
header{
    background-image: url(resources/Banner\ Image.png),linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00));
    border-radius: 16px;
    background-repeat: no-repeat;
  background-size: 986px 400px;
   background-blend-mode: darken;
display: flex;
justify-content: center;
align-items: center;
   margin-top: 50px;
    max-width: 1320px;
    
    height: 400px;
    border-radius: 16px;
 
    color: white;
    text-align: center;
   
}


header p{
    font-size: 32px;
   
}
header h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.margin-left-right-140{
    margin-left: 140px;
    margin-right: 140px;
    
    
}

.font-Inter{
    font-family: 'Inter', sans-serif;

}
.font-size-48{
    font-size: 48px;
}
.font-weight-900{
    font-weight: 900;
}
.font-weight-700{
    font-weight: 700;
}


.font-Merriweather{
    font-family: 'Merriweather', serif;
}

.discount-section{
    text-align: center;
    margin: 120px 0px;
  
}

.discount-section>h1{
    color: #F00;
    font-size: 88px;
    padding-bottom: 48px;
}

.discount-section>p{
    font-size: 24px;
    font-weight: 500;
    color: #F00;
    padding-bottom: 5px;
}

.discount-section .img{
    max-width: 802px;
    max-height: 500px;
    margin: 0 auto;
    padding-top: 48px;
}

.midnight-party-container{
    background-image: url(resources/Vectorrr.png),linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00));
    background-repeat: no-repeat;
    background-size: 986px 400px;
    border-radius: 5px;
   

   
    
   background-blend-mode: darken;
    max-width: 1320px;
    
    height: 400px;

}


.btn{

    border: 0;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    margin-top: 48px;
    margin-left: 19px;
}

.midnight-party{
    display: flex;
 
    padding: 68px 126px;
    color: white;
}
.midnight-party-text{
    max-width: 70%;
}
.midnight-party-text h1{
    font-size: 64px;
    line-height: 88px; 
letter-spacing: 6.04px;
}

.midnight-party-img{
    width: 349.165px;

}


.time-container{
    width: 986px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 120px;
    font-size: 32px;
    line-height: 56px;
    font-weight: 600px;


}
.time-container span{
    color: #F00;
}

.red{
    color: #F00;
}
.join-button{
    border: 0;
    background-color: #F00;
    color: white;
    padding:16px 32px;
    border-radius: 8px;
}

.comming-soon-container{
    margin-top: 120px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 986px;
    height: 330px;

}
.comming-soon-container div{
    width: 30%;
}



.round{
    border-radius: 50%;
    padding: 20px;
    border: 15px solid red;
    max-height: 330px;
    max-width: 330px;
}

.last-of-comingsoon{
    max-height: 330px;
}
.last-of-commingsoon-img{
    width: 70px;
    height: 70px;
}
footer{
    background-color: black;
    height: 600px;
}
.footer-adress{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    color: white;
}

.font-24{
    font-size: 24px;
}
.number,.website{
    display: flex;
   

}
.number img,.website img{
    width: 24px;
    margin-right: 12px;
    margin-top: 4px;
   
}

.website a,.number p{
    color: white;
   
}
