*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}
img{
    width: 100%;
  
}
header{
    background-image: url(resources/Banner\ Image.png),linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00));
    border-radius: 16px;
    background-repeat: no-repeat;
  background-size: 986px 500px;
   background-blend-mode: darken;
display: flex;
justify-content: center;
align-items: center;
   margin-top: 50px;
    max-width: 1320px;
    
    height: 500px;
    border-radius: 16px;
 
    color: white;
    text-align: center;
   
}


header p{
    font-size: 32px;
   
}
header h1{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.margin-left-right-140{
    margin-left: 140px;
    margin-right: 140px;
    
    
}

.font-Inter{
    font-family: 'Inter', sans-serif;

}

.font-Merriweather{
    font-family: 'Merriweather', serif;
}

.discount-section{
    text-align: center;
    margin: 120px 0px;
  
}

.discount-section>h1{
    color: #F00;
    font-size: 88px;
}